<!--
  Generated template for the MapTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MapTest</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <google-map></google-map>
</ion-content>
