<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div class="register-container">
		<!-- <p class="logo-class">
			<span class="register-title">
				Sign Up Now
			</span>
		</p> -->
		<div padding>
      <!-- <div class="user-type-container">
        <p *ngFor="let option of userType">
          <ion-item>
              <ion-label>{{option.title}}</ion-label>
              <ion-checkbox  color="{{option.color}}" [(ngModel)]="option.isChecked" [checked]="option.isChecked" (click)="onChangeType($event,option)"></ion-checkbox>
          </ion-item>
        </p>
      </div> -->
			<form [formGroup]="registerForm">
        <ion-item *ngIf="selectedType == 'professional'">
          <ion-label>Select User Category</ion-label>
          <ion-select  [formControl]="registerForm.controls['directory_type']">
            <ion-option *ngFor="let dt of directorType" value="{{dt.id}}">
              {{dt.title}}
            </ion-option>
          </ion-select>
        </ion-item>
			  <ion-item>
          <ion-label stacked>Documento de identidad</ion-label>
			    <ion-input [formControl]="registerForm.controls['username']"
			        type="text" clearInput></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Ingresa una contraseña</ion-label>
			    <ion-input [formControl]="registerForm.controls['password']"
			        type="password" clearInput></ion-input>
			  </ion-item>      

			  <ion-item>
          <ion-label stacked>Vuelva a escribir la contraseña</ion-label>
			    <ion-input [formControl]="registerForm.controls['reTypePassword']"
			        type="password" clearInput></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label stacked>Nombre</ion-label>
			    <ion-input [formControl]="registerForm.controls['firstName']"
			        type="text" clearInput></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label stacked>Apellidos</ion-label>
			    <ion-input [formControl]="registerForm.controls['lastName']"
			        type="text" clearInput></ion-input>
        </ion-item>
        

        <ion-item>
          <ion-label stacked>E-mail</ion-label>
			    <ion-input [formControl]="registerForm.controls['email']"
			        type="email" clearInput></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label stacked>Retype Email</ion-label>
			    <ion-input [formControl]="registerForm.controls['reTypeEmail']"
			        type="email" clearInput></ion-input>
        </ion-item>
			  
        <ion-item>
          <ion-label stacked>Teléfono</ion-label>
			    <ion-input [formControl]="registerForm.controls['phone']"
			        type="number" clearInput></ion-input>
        </ion-item>
        
        <div class="user-type-container">
            <p>
              <ion-item>
                  <ion-checkbox color="inputborder" [formControl]="registerForm.controls['terms']" [(ngModel)]="tremsData.isChecked" ></ion-checkbox>
              </ion-item>
            </p>
            <p class="terms-text">He leído y aceptado los términos, condiciones y políticas de privacidad.</p>
          </div>

			  <ion-row class="submit-section">
			    <ion-col text-center>
			      <button ion-button block color="secondary" (click)="onSignUp()" class="new-button">
					<span *ngIf="!clicked">¡Registrarme!</span>
      			    <ion-spinner *ngIf="clicked" name="crescent"></ion-spinner>
				  </button>
			    </ion-col>
			  </ion-row>
			</form>
		</div>
	</div>

</ion-content>