<!--
  Generated template for the FavouritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-buttons left>
    <button ion-button (click)="dismiss()" icon-left class="details-back-button">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-buttons>
  <div padding class="list-section">
    <img class="design-image-1" src="assets/imgs/icon1.png">
    <img class="design-image-2" src="assets/imgs/icon2.png">
    <h2 right>
      Tus favoritos...
    </h2>
    <div class="listing-card-parent" *ngFor="let favorite of favorites; let i = index">
      <button ion-button clear color="danger" (tap)="deleteFavourite(i, favorite.id)">
        <ion-icon slot="end" name="ios-trash"></ion-icon>
      </button>
      <ion-card class="listing-card"  (click)="details(favorite.id)">
        <ion-card-header>
          {{favorite.name}}
        </ion-card-header>
        <!-- <ion-card-content>
          <p>{{favorite.directory_type_name}}</p>
          <p>{{favorite.address}}</p>
        </ion-card-content> -->

        <ion-card-content class="content-section">
            <p class="doctor-price-spec">
              <span class="speciality" start *ngIf="favorite.all.user_profile_specialities">{{favorite.all.user_profile_specialities.join()}}</span>
              <span class="price" end *ngIf="favorite.all.calender_price">$ {{favorite.all.calender_price}}</span>
            </p>
            <p>
              <span *ngIf="favorite.address">{{favorite.address}}</span> 
            </p>
        </ion-card-content>


      </ion-card>
    </div>
    <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </div>   
</ion-content>
<ion-footer>
  <ion-grid class="common-footer">
    <ion-row class="footer-inner">
      <ion-col col-2><img (click)="navCtrl.push('ProfilePage')" class="footer-image" src="assets/imgs/icon3.png"></ion-col>
      <ion-col col-2><img (click)="navCtrl.push('MyBookingsPage')" class="footer-image" src="assets/imgs/icon4.png"></ion-col>
      <ion-col col-4><img (click)="navCtrl.setRoot('HomePage')" class="footer-image center" src="assets/imgs/icon5.png"></ion-col>
      <ion-col col-2><img (click)="navCtrl.push('HelpPage')" class="footer-image" src="assets/imgs/icon6.png"></ion-col>
      <ion-col col-2><img (click)="navCtrl.push('FavouritePage')" class="footer-image" src="assets/imgs/icon7.png"></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
