<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <div class="login-container">
      <p class="logo-class">
        <ion-icon name="key"></ion-icon>
      </p>
      <p class="logo-class">
        <span class="login-title">
          Forgot Password
        </span>
      </p>
      <div>
        <form [formGroup]="forgotPasswordForm" padding>
          <ion-item>
            <ion-input  placeholder="Enter Email" [formControl]="forgotPasswordForm.controls['email']"
                type="email" clearInput></ion-input>
          </ion-item>
  
          <ion-row class="submit-section">
            <ion-col text-center>
              <button ion-button block color="secondary" (click)="onSignIn()">
            <span *ngIf="!clicked">Submit</span>
                  <ion-spinner *ngIf="clicked" name="crescent"></ion-spinner>
            </button>
            </ion-col>
          </ion-row>
        </form>
      </div>
    </div>
  
  </ion-content>
  