<!--
  Generated template for the FilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <form padding [formGroup]="searchForm">
    <div class="form-content">
      <ion-item class="input-search-sections">
        <ion-label></ion-label>
        <ion-input  [formControl]="searchForm.controls['keyword']" type="text" placeholder="Palabra clave" clearInput ></ion-input>
      </ion-item>

      <ion-item class="input-search-sections range-item">
        <ion-label class="main-label">Distancia</ion-label>
        <ion-range [formControl]="searchForm.controls['geo_distance']" min="1" max="35" color="secondary" (ionChange)="updateResults()">
          <ion-label range-left class="left-section">{{localLength}} kM</ion-label>
          <ion-label range-right class="right-section">35 kM</ion-label>
        </ion-range>
      </ion-item>

      <ion-item class="input-search-sections range-item">
        <ion-label class="main-label">Precio</ion-label>
        <ion-range  [formControl]="searchForm.controls['pricerange']" dualKnobs="true" min="1" max="99999" step="10" (ionChange)="updatePriceResults()">
            <ion-label range-left class="left-section">$ {{minPrice}}</ion-label>
            <ion-label range-right class="right-section">$ {{maxPrice}}</ion-label>
        </ion-range>
      </ion-item>
      <ion-grid>
          <ion-row>
              <ion-col size="6">
              <button ion-button block color="danger" (click)="cancel()" class="cancel">
                  <span>Back</span>
              </button>
              </ion-col>
              <ion-col size="6">
              <button ion-button block color="buttoncolor" (click)="onSearch()" class="pay">
                  <span>Apply</span>
              </button>
              </ion-col>
          </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
