page-filter {
    height: 60% !important;
    .toolbar-title {color: color($colors, light);}
    .select-section ion-icon{margin-right: 25px;}
    form{
        padding: 0 !important;
    }
    ion-item.input-search-sections {
        background-color: transparent;
        .item-inner {
            border-bottom: none !important;
            .input-wrapper {
                border-bottom: 1px solid #fff;
            }            
            ion-label.label-ios {
                margin-left: 0;
                margin-right: 0;
            }
            ion-input input.text-input {
                margin-left: 0;
            }
        }
    }
    .input-search-sections .label{
        margin: 0px;
    }
    .range-ios {
        position: relative;
        .left-section {
            position: absolute;
            z-index: 99;
            top: -15px;
            left: 0;

        }
        .right-section {
            position: absolute;
            z-index: 99;
            top: -15px;
            right:0 ;
        }
    }
    .range-item {
        .main-label{
            margin: 5px 0;
        }
    }
    .form-content {
        margin-top: 20px;
        .new-button {
            margin-top: 20px;
        }
    }
    .text-input::placeholder {
        color: #000;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: #000;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
       color: #000;
      }
}
