<!--
  Generated template for the FavouritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <ion-buttons left>
      <button ion-button (click)="dismiss()" icon-left class="details-back-button">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <div padding class="list-section">
      <img class="design-image-1" src="assets/imgs/icon1.png">
      <img class="design-image-2" src="assets/imgs/icon2.png">
      <div padding>
          <div class="section-1">
              <h2 right>
                Líneas de atención
              </h2>
              <p><strong>PBX</strong>: (4) 3223572</p>
              <p><strong>CELULARES:</strong>: 321 6152826  3007558582</p>
              <p><strong>WHATSAPP</strong>: 
                <a class="anchor-link" href="https://api.whatsapp.com/send?phone=573225342944">+573225342944</a>
                <!-- <a class="anchor-link" href="https://wa.me/573225342944">+573225342944</a> -->
              </p>
            </div>
            
            <div class="section-2">
                <h2 right>
                    Email
                  </h2>
                  <p>soporte@masvivos.com</p>
                  <p>soporte@masvivos.com</p>
            </div>
            
            <div class="section-3">
      
              <h2 right>
                  Dirección
                </h2>
                <p>Cra 42 # 40H SUR 74 oficina 601</p>
                <p>Edificio Towers, Envigado, Colombia</p>
                </div>
            <div class="section-4">
              
                <h2 right>
                    Redes sociales
                  </h2>
                  <p><ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;<ion-icon name="logo-instagram"></ion-icon></p>
            </div>
      </div>
      
      
    </div>   
  </ion-content>
  
  <ion-footer>
    <ion-grid class="common-footer">
      <ion-row class="footer-inner">
        <ion-col col-2><img (click)="navCtrl.push('ProfilePage')" class="footer-image" src="assets/imgs/icon3.png"></ion-col>
        <ion-col col-2><img (click)="navCtrl.push('MyBookingsPage')" class="footer-image" src="assets/imgs/icon4.png"></ion-col>
        <ion-col col-4><img (click)="navCtrl.setRoot('HomePage')" class="footer-image center" src="assets/imgs/icon5.png"></ion-col>
        <ion-col col-2><img (click)="navCtrl.push('HelpPage')" class="footer-image" src="assets/imgs/icon6.png"></ion-col>
        <ion-col col-2><img (click)="navCtrl.push('FavouritePage')" class="footer-image" src="assets/imgs/icon7.png"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>