<ion-content padding>
<h3>Choose Payment Type</h3>

<ion-list>
    <ion-item>
      <ion-label class="pay-amount">Need To Pay : {{totalAmount}}</ion-label>
    </ion-item>
  <ion-item *ngFor="let paymentType of paymentTypes">
    <ion-label>{{paymentType.val}}</ion-label>
    <ion-checkbox disabled="{{paymentType.disabled}}" color="inputborder" slot="end" [(ngModel)]="paymentType.isChecked" (click)="toggleSelected(paymentType)"></ion-checkbox>
  </ion-item>
</ion-list>
<div  *ngIf="paymentTypeChosen ==='wallet'" >
    <p class="wallet-amount">
      Disponible: {{currentWalletBalance}}
    </p>
    <p class="wallet-text">
      Puedes pagar con tu targeta virtual una parte y la demas se descontara de tu cuenta payu.
    </p>
    <div>
      <ion-item>
        <ion-input type="number" placeholder="Enter Disponible Amount" [(ngModel)]="dedutctAmount" clearInput (ionChange)="checkValue($event)"></ion-input>
      </ion-item>
      <div *ngIf="submit && !dedutctAmount">
        <p style="color:red">Add some value Here</p>
      </div>
    </div>
</div>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <button ion-button block color="danger" (click)="cancel()" class="cancel">
        <span>Cancel</span>
      </button>
    </ion-col>
    <ion-col size="6">
      <button ion-button block color="buttoncolor" (click)="pay()" class="pay">
        <span>Pay</span>
      </button>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
